.create-user {
   // background: rgb(26, 39, 203);
   background: linear-gradient(
      312deg,
      rgba(26, 39, 203, 1) 0%,
      rgba(48, 20, 94, 1) 45%,
      rgba(0, 0, 0, 1) 100%
   );


      // background: linear-gradient(312deg,
      //          rgba(26, 39, 203, 1) 0%,
      //          rgba(48, 20, 94, 1) 5%,
      //          rgba(0, 0, 0, 1) 10%);


   background: #000;

      // background: rgb(0, 0, 0);
      //    background: linear-gradient(50deg, rgba(88, 18, 93, 100) 21%, rgba(31, 33, 104, 20) 71%);
   height: 100vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;

   

   &__top {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 2rem;
   }
   &__logo {
      background-size: 100% 100%;
      height: 22px;
      width: 129px;
      background-image: url(/img/logo.svg);
      transform: scale(0.9);
      margin-bottom: 1rem;
   }
   &__title {
      color: white;
      font-size: 2rem;
      font-weight: 300;
   }

   &__form {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__input-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      label {
         font-size: 0.8rem;
         color: white;
         margin-bottom: 1rem;
      }
   }

   &__inputText {
      border: none;
      border-bottom: 1px solid rgb(132, 0, 255);
      background: transparent;
      width: 300px;
      padding: 10px 0;
      outline: none;
      margin-bottom: 2rem;
      color: white;
      font-size: 1.5rem;
   }

   &__avatars {
      display: flex;
      justify-content: space-between;
      position: relative;
   }

   &__avatar {
      border-radius: 50%;
      height: 6rem;
      width: 6rem;
      margin: 0px 24px;
      // mask-border-width: 10px !important;
      cursor: pointer;
      transition: all .1s ease-in-out;
      position: relative;
      z-index: 10;
      outline: 3px solid rgb(132, 0, 255);

      &:after{
         display: block;
         content: '';
         border-radius: 50%;
         position: absolute;
         top: 0;
            height: 6rem;
            width: 6rem;
            background: #000;
            opacity: 0.5;
         transition: opacity .1s ease-in-out;
      }

      &:nth-child(1){
         margin-left: 0px;
      }


      &--active {

         &::after {
               opacity: 0;
            }

         transform: scale(1.2);
         > img{
            outline: 4px solid rgb(132, 0, 255);
            box-shadow: rgba(255, 255, 255, 0.4) 0px 13px 27px -5px, rgba(255, 255, 255, 0.4) 0px 8px 16px -8px;
            
         }
        
      }

      &:hover {
         &::after{
            opacity: 0;
         }
         transform: scale(1.2);
         >img {
               outline: 4px solid rgb(132, 0, 255);
               box-shadow: rgba(255, 255, 255, 0.4) 0px 13px 27px -5px, rgba(255, 255, 255, 0.4) 0px 8px 16px -8px;
            }

     
      }

      > img{
            height: 6rem;
         width: 6rem;
            border-radius: 50%;
            object-fit: cover;
            transition: outline .1s ease;
            transition: box-shadow .2s ease-out;
      }

           
   }

      &__error-message{
         visibility: hidden;
         transition: opacity  .2s ease;
         opacity: 0;
         position: absolute;
      }

   &__error-message--show{
      opacity: 1;
      visibility: visible;
      background: #842626;
      color: #fff;
      font-size: 1.2rem;
      padding: 12px;

      position: absolute;
      bottom: 0%;
      right: 0%;
      transform: translate(110%, 0%);
      
      > i{
         color: #f47b7b;
         margin-right: 12px;
      }
   }

   &__user-img {
      width: 125px;
      height: 125px;
      border-radius: 50%;
      margin-bottom: 1rem;
      margin-right: 3rem;
      border: 3px solid rgb(132, 0, 255);
      object-fit: cover;
      object-position: center;
   }

   &__buttons {
      margin-bottom: 2rem;
   }

   &__cancel,
   &__save {
      background: rgba(255, 255, 255, 0.2);
      border: none;
      border-radius: 20px;
      height: 35px;
      width: 150px;
      text-transform: uppercase;
      font-size: 0.9rem;
      color: white;
      font-weight: 700;
      cursor: pointer;
      transition: opacity 0.3s ease-in-out;
   }

   &__cancel {
      opacity: 0.4;
      margin-right: 1rem;

      &--hide{
         display: nonem;
      }
      &:hover {
         opacity: 1;
      }
   }
   &__save {
      opacity: 1;
      margin-right: 1rem;
   }
}
@media only screen and (max-width: 600px) {
   .create-user {
      &__form {
         flex-direction: column;
      }
      &__user-img {
         margin-right: 0;
      }
   }
}
